/* About Page */
#about{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  /* flex-wrap: wrap; */
  /* flex-direction: column; */
  /* margin-top: 7rem; */
}
  .category-row-about{
    padding-left: 10rem;
    padding-right: 10rem;
  }
  #about .biography{
    max-width: 25%;
    /* flex-basis: 100%; */
  }
  /* #about .biography-image{
   padding-right: 3rem;
  } */
/* End of about page */

/* Project Page */
.project-grid{
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-around;
  margin: 0rem 10rem 0rem 10rem;
  grid-gap: 5rem;
}
  .project-grid .grid-item{
    /* padding: 15rem 23rem 15rem 23rem; */
    background-color: grey;
    /* border: 1px solid black; */
    margin: 0rem;
  }
    .project-grid .grid-item img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
      .project-grid .grid-item img:hover{
        opacity: 0.5;
      }
/* Project Page ends here */
